<div class="col-lg-6">
  <h1>{{ title }}</h1>
    <div class="alert alert-success" *ngIf="status == 'success'" >
      Login Correcto
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error'">
      No te has identificado correctamete
    </div>
  <form class="col-lg-7" #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <p>
          <label>Correo electrónico</label>
          <input class="form-control" type="email" name="email" #email="ngModel" [(ngModel)]="user.email" required>
          <span *ngIf="!email.valid && email.touched">Debes ingresar correo</span>
        </p>
        <p>
            <label>Contraseña</label>
            <input class="form-control" type="password" name="password" #password="ngModel" [(ngModel)]="user.password" required>
            <span *ngIf="!password.valid && password.touched">Debes ingresar pass</span>
      </p>
      <input type="submit" value="Ingresar" class="btn btn-success">
  </form>
</div>
